# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\MANUEL\Desktop\Sistemas digitales y ensambladores\plataformaMovil\Reconocimiento facial\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
